* {
    font-family: open sans;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body{
    height: 0px;
}

.students {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: white;
}


/*NAVBAR*/
.students nav .navbar {
    height: 100px;
    width: 100%;
    background: linear-gradient(221deg, rgba(253,40,29,1) 0%, rgba(206,51,126,1) 50%, rgba(156,63,232,1) 100%);
    position: fixed;
    box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.13);
}

.students nav .navbar .sitename a {
    color: white;
    text-decoration: none;
    margin-left: 60px;
}

.students nav .navbar .student-data {
    display: flex;
    position: absolute;
    margin-left: 254px;
}

.students nav .navbar .student-data .team-name-principal {
    color: white;
    font-size: 30px;
}

.students nav .navbar .student-data .trace {
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.students nav .navbar .student-data .team-points-principal{
    color: white;
    font-size: 25px;
    margin-top: 3px;
    margin-left: 20px;
}

.students nav #hr {
    max-width: 100%;
    margin-top: -1px;
    margin-left: 270px;
    background: black;
    position: relative;
}


/*MENU*/
.students .menu {
    position: fixed; /*Tirar o absolute no ranking*/
    background-color: #2e2e64;
    width: 250px;
    height: 90%;
    z-index: 1;
    margin-top: 83px;
    margin-left: 0px;
}

.students .menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid;
    border-color: white;
}

.students .menu a:hover {
    background-color: rgba(206,51,126,1)
}

.students .menu .menu-bottom {
    margin-top: 535px;

}


/*RANKINGS*/
.students .rankings .ranking-do-dia {
    height: 280px;
    width: 270px;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
    float: right;
    margin-top: 110px;
    margin-right: 20px;
}

.students .rankings .ranking-do-dia .ranking-name {
    margin-top: 20px;
    text-align: center;
}

.students .rankings .ranking-do-dia ul {
    margin-top: 20px;
    margin-right: 40px;
}

.students .rankings .ranking-do-dia ul li {
    display: inline-block;
}

.students .rankings .ranking-do-dia ul li .team-ranking {
    display: flex;
    transform: translate( 95px, 20px)
}

.students .rankings .ranking-do-dia ul li .team-ranking:hover {
    background-color: #f1f1f1;
    cursor: pointer
}

.students .rankings .ranking-do-dia ul li .team-ranking .team-profile {
    position: absolute;
    transform: translate(-105px, -25px);
}

.students .rankings .ranking-do-dia ul li .team-ranking .team-profile img {
    height: 30px;
}

.students .rankings .ranking-do-dia ul li .team-ranking .team-name {
    width: 155px;
    position: relative;
    text-align: left;
    margin-top: -20px;
    transform: translate(-72px, -3px);

    white-space: nowrap;
    overflow: hidden;
    transition-duration: 1s;
}

.students .rankings .ranking-do-dia ul li .team-ranking .team-points {
    position: absolute;
    transform: translate(90px, -22px);
}

.students .rankings .ranking-do-dia ul #hr-ranking {
    width: 210px;
    margin-top: 25px;
    margin-left: 30px;
}


/*PROFILES CARDS*/
.students .cards-students {
    width: auto;
    min-width: 30%;
    max-width: 64%;
    margin: 30px 380px 0 300px;
    /*border: solid 1px red;*/
}
/*
.students .cards-students ul {
    list-style: none;
    /*border: solid 1px;*/
/*}*/
/*
.students .cards-students .line-title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.students .cards-students .student-data {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border: solid 1px red;
}

.students .cards-students .student-data .team-name {
    margin-left: 355px;
    white-space: nowrap;
    border: solid 1px;
}

.students .cards-students .student-data .team-points {
    width: 30px;
    margin-left: 535px;
    border: solid 1px;
}
*/


.students .cards-students .student-data {
    /*margin-top: 15px;*/
    /*border: solid 1px red;*/
}

.students .cards-students .student-data ul {
    list-style: none;
}

.students .cards-students .student-data .li {
    display: flex;
    width: auto;
    max-width: 400px;
    margin-bottom: 10px;
    /*border: solid 1px;*/
}

.students .cards-students .student-data .li .line-title {
    display: flex;
    width: auto;
    min-width: 15%;
    max-width: 80%;
}

.students .cards-students .student-data .li .line-title .str-student-name {
    min-width: 340px;
    white-space: nowrap;
    /*border: solid 1px;*/
}

.students .cards-students .student-data .li .line-title .str-student-points {
    width: 50px;
    margin-left: 10px;
    /*border: solid 1px;*/
}



.students .cards-students .student-data .li2 {
    display: flex;
    width: auto;
    max-width: 400px;
    /*border: solid 1px;*/
}

.students .cards-students .student-data .li2 .div-student-name {
    width: 400px;
    border-bottom: solid 1px;
}

.students .cards-students .student-data .li2 .student-name {
    float: left;
    margin-top: 10px;
    white-space: nowrap;
    /*border: solid 1px;*/
}

.students .cards-students .student-data .li2 .student-points {
    width: 40px;
    margin-top: 10px;
    border-bottom: solid 1px;
}

.students .cards-students .student-data .team-name {
    /*margin-top: 10px;
    float: left;
    white-space: nowrap;
    border: solid 1px;*/
}

.students .cards-students .student-data .team-points {
    /*width: 30px;
    margin-top: 10px;
    margin-left: 40px;
    border: solid 1px;*/
}
