* {
    font-family: open sans;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body{
    height: 0px;
}

.teams {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: white;
}


/*NAVBAR*/
.teams .screen-data {
    width: 100%;
    height: 100px;
    padding: 9px 0 0 240px;
    display: flex;
    position: absolute;
    white-space: nowrap;
    border-bottom: solid 1px rgb(212, 212, 212);
}

.teams .screen-data .str-dashboard {
    margin-top: 15px;
    color: black;
    font-size: 23pt;
}

.teams .div-img-user {
    float: right;
    margin-right: 30px;
}

.teams .div-img-user .img-user {
    width: 98px;
}


/*MENU*/
.teams .menu {
    width: 200px;
    height: 100%;
    position: fixed;
    background:rgba(9,9,121,1);
    z-index: 1;
    margin-top: -95px;
    margin-top: 0px;
    margin-left: 0px;
}

.teams .menu a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid;
    border-color: white;
    cursor: pointer;
}

.teams .menu a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.teams .menu .sitename {
    padding: 30px 16px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20pt;
}

.teams .menu .sitename:hover {
    background: rgba(9,9,121,1);
    color: white;
}

.teams .menu .menu-bottom {
    width: 200px;
    position: absolute;
    bottom: 0;
}

/*RANKINGS*/
.teams .ranking {
    width: 270px;
    height: 390px;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
    float: right;
    transform: translate(90px, 130px);
}

.teams .ranking .str-ranking {
    margin: 10px 15px 0 15px;
    text-align: center;
}

.teams .ranking ul {
    margin: 10px 15px 0 15px;
}

.teams .ranking ul li {
    height: 50px;
    margin-bottom: 20px; 
    display: inline-block;
    border-bottom: solid 1px rgb(190, 190, 190);
}

.teams .ranking ul li .team-ranking {
    width: 235px;
    display: flex;
}

.teams .ranking ul li .team-ranking .team-profile img {
    height: 40px;
}

.teams .ranking ul li .team-ranking .team-name {
    width: 163px;
    height: 30px;
    text-align: left;
    transform: translate(8px, 8px);

    white-space: nowrap;
    overflow: hidden;
    transition-duration: 1s;
}

.teams .ranking ul li .team-ranking .team-points {
    width: 30px; 
    position: absolute;
    transform: translate(205px, 8px);
}


/*PROFILES CARDS*/
.teams .cards-teams {
    width: 58%;
    margin-top: 125px;
    margin-left: 16%;
    /*border: solid 1px red;*/
}

.teams .cards-teams ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /*border: solid 1px;*/
}

.teams .cards-teams .card-individual {
    width: 400px;
    height: 340px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*border: solid 1px blue;*/
}

.teams .cards-teams .card-individual .team-data {
    display: flex;
    /*border: solid 1px;*/
}

.teams .cards-teams .card-individual .team-data .team-name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15pt;
    position: absolute;
    /*border: solid 1px;*/
}

.teams .cards-teams .card-individual .team-data .team-points {
    width: 50px;
    margin-top: 20px;
    margin-left: 340px;
    font-size: 15pt;
    /*border: solid 1px green;*/
}

.teams .cards-teams .card-individual .hr-card-team {
    width: 90%;
    margin-left: 20px;
}

.teams .cards-teams .card-individual .student-data {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15pt;
    /*border: solid 1px;*/
}

.teams .cards-teams .card-individual .student-data .student-name {
    font-size: 15pt;
    position: absolute;
    /*border: solid 1px;*/
}

.teams .cards-teams .card-individual .student-data .student-point {
    width: 50px;
    margin-left: 320px;
    font-size: 15pt;
    /*border: solid 1px green;*/
}

.teams .cards-teams .card-individual .challenge-data {
    margin-top: 0px;
    margin-left: -25px;
    float: left;
    font-size: 12pt;
}

.teams .cards-teams .card-individual .challenge-data .str-challenge {
    margin-top: 0px;
    margin-left: 0px;
}

.teams .cards-teams .card-individual .challenge-data .challenge-wins {
    margin-top: 5px;
    margin-left: 70px;
}

.teams .cards-teams .card-individual .challenge-data .challenge-loses {
    margin-top: 8px;
    margin-left: 65px;
}

.teams .cards-teams .empty{
    font-size: 26pt;
    color: rgb(212, 212, 212);
    margin-top: 37%;
}

.teams .menu .disabled {
    color: gray; 
}

.teams .menu .disabled:hover {
    color: gray; 
    background: rgba(9,9,121,1);
    cursor: default;
}
