* {
    font-family: open sans;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 0px;
}

.main-student {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}


.main-student .student-data {
    margin-top: 30px;
    display: flex;
    position: absolute;
    margin-left: 316px;
    white-space: nowrap;
}

.main-student .student-data .student-name {
    color: black;
    font-size: 30px;
}

.main-student .student-data .trace {
    color: black;
    font-size: 30px;
    margin-left: 20px;
}

.main-student .student-data .student-points {
    color: black;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 20px;
}

.main-student .student-data .div-img-user {
    margin-top: -25px;
    margin-left: 48.5%;
}

.main-student .student-data .div-img-user .img-user {
    width: 90px;
}

.main-student #hr-nav {
    width: 70%;
    margin-left: 10.8%;
    transform: translate(20.5%, 82px);
    background: rgb(212, 212, 212);
}


/*MENU*/
.main-student .menu {
    position: fixed; /*Tirar o absolute no ranking*/
    background-color: #2e2e64;
    width: 250px;
    z-index: 1;
    margin-top: 67px;
    margin-left: 0px;
}

.main-student .menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid;
    border-color: white;
    cursor: pointer;
}

.main-student .menu a:hover {
    background-color: white;
    color: black;
}

.main-student .menu .menu-bottom {
    margin-top: 544px;

}


/*RANKINGS*/
.main-student .rankings .ranking-do-dia {
    height: 280px;
    width: 270px;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
    float: right;
    transform: translate(-70px, 110px);
    /*margin-top: 110px;
    margin-right: 20px;*/
}

.main-student .rankings .ranking-do-dia .ranking-name {
    margin-top: 20px;
    text-align: center;
}

.main-student .rankings .ranking-do-dia ul {
    margin-top: 20px;
    margin-right: 40px;
}

.main-student .rankings .ranking-do-dia ul li {
    display: inline-block;
}

.main-student .rankings .ranking-do-dia ul li .team-ranking {
    display: flex;
    transform: translate( 95px, 20px)
}

.main-student .rankings .ranking-do-dia ul li .team-ranking:hover {
    background-color: #f1f1f1;
    cursor: pointer
}

.main-student .rankings .ranking-do-dia ul li .team-ranking .team-profile {
    position: absolute;
    transform: translate(-105px, -25px);
}

.main-student .rankings .ranking-do-dia ul li .team-ranking .team-profile img {
    height: 30px;
}

.main-student .rankings .ranking-do-dia ul li .team-ranking .team-name {
    width: 155px;
    position: relative;
    text-align: left;
    margin-top: -20px;
    transform: translate(-72px, -3px);

    white-space: nowrap;
    overflow: hidden;
    transition-duration: 1s;
}

.main-student .rankings .ranking-do-dia ul li .team-ranking .team-points {
    position: absolute;
    transform: translate(90px, -22px);
}

.main-student .rankings .ranking-do-dia ul #hr-ranking {
    width: 210px;
    margin-top: 25px;
    margin-left: 30px;
}


/*TASKS*/
.main-student .tasks {
    margin-top: 130px;
    width: 50%;
    margin-left: 313px;
}

.main-student .tasks .task {
    list-style-type: none;
    transition: transform .3s cubic-bezier(.52,.28,.47,1.15),-webkit-transform .3s cubic-bezier(.52,.28,.47,1.15);

}

.main-student .tasks .task:hover {
    transform: translateY(-10px);
    transition: transform .3s cubic-bezier(.52,.28,.47,1.15),-webkit-transform .3s cubic-bezier(.52,.28,.47,1.15);
}

.main-student .tasks .task li .teste {
    display: flex;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.07);
}

.main-student .tasks .task:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.main-student .tasks .task .task-content {
    width: 85%;
    height: 230px;
    margin-top: 20px;
    margin-left: 20px;
}

.main-student .tasks .task .task-content .task-title {
    /*width: 100%;*/
    float: left;
    font-size: 25px;
}

.main-student .tasks .task .task-content .task-description {
    content: '...';
    width: 100%;
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-right: 100%;
    color: rgb(161, 161, 161);
    text-align: justify;
    overflow: hidden;
}

.main-student .tasks .task .task-points {
    width: 15%;
    height: 202px;
    margin-top: 28px;
    margin-left: 20px;
    border-left: 1.5px solid;
    border-color: rgb(218, 217, 217);
}

.main-student .tasks .task .task-points .task-points-notes {
    font-size: 20px;
}

.main-student .tasks .task .task-points .task-pontuation {
    font-size: 25px;
    margin-top: 8px;
}