* {
    font-family: open sans;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 0px;
}

.preparar-batalha {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}


.preparar-batalha .student-data {
    width: 100%;
    height: 100px;
    padding: 9px 0 0 240px;
    display: flex;
    position: absolute;
    white-space: nowrap;
    border-bottom: solid 1px rgb(212, 212, 212);
}

.preparar-batalha .student-data .student-name {
    margin-top: 15px;
    color: black;
    font-size: 23pt;
}

.preparar-batalha .student-data .trace {
    margin-top: 15px;
    color: black;
    font-size: 23pt;
    margin-left: 20px;
}

.preparar-batalha .student-data .student-points {
    margin-top: 15px;
    color: black;
    font-size: 23pt;
    margin-left: 20px;
}

.preparar-batalha .div-img-user {
    float: right;
    margin-right: 30px;
}

.preparar-batalha .div-img-user .img-user {
    width: 98px;
}


/*MENU*/
.preparar-batalha .menu {
    width: 200px;
    height: 100%;
    position: fixed;
    background:rgba(9,9,121,1);
    z-index: 1;
    margin-top: 0px;
    margin-left: 0px;
}

.preparar-batalha .menu .menu-item {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid;
    border-color: white;
    cursor: pointer;
}

.preparar-batalha .menu .menu-item:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.preparar-batalha .menu .sitename {
    padding: 30px 16px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20pt;
}

.preparar-batalha .menu .sitename:hover {
    background: rgba(9,9,121,1);
    color: white;
}

.preparar-batalha .menu .selected {
    background-color: white;
    color: black;
    cursor: pointer;
}

.preparar-batalha .menu .menu-bottom {
    width: 200px;
    position: absolute;
    bottom: 0;
}


/*RANKINGS*/
.preparar-batalha .ranking {
    width: 270px;
    height: 390px;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
    float: right;
    transform: translate(90px, 130px);
}

.preparar-batalha .ranking .str-ranking {
    margin: 10px 15px 0 15px;
    text-align: center;
}

.preparar-batalha .ranking ul {
    margin: 10px 15px 0 15px;
}

.preparar-batalha .ranking ul li {
    height: 50px;
    margin-bottom: 20px; 
    display: inline-block;
    border-bottom: solid 1px rgb(190, 190, 190);
}

.preparar-batalha .ranking ul li .team-ranking {
    width: 235px;
    display: flex;
}

.preparar-batalha .ranking ul li .team-ranking .team-profile img {
    height: 40px;
}

.preparar-batalha .ranking ul li .team-ranking .team-name {
    width: 163px;
    height: 30px;
    text-align: left;
    transform: translate(8px, 8px);

    white-space: nowrap;
    overflow: hidden;
    transition-duration: 1s;
}

.preparar-batalha .ranking ul li .team-ranking .team-points {
    width: 30px; 
    position: absolute;
    transform: translate(205px, 8px);
}

/*TASKS*/
.preparar-batalha .content {
    width: auto;
    min-width: 380px;
    max-width: 66%;
    margin: 130px 380px 0 240px;
    /*border: solid 1px;*/
}

.preparar-batalha .content #button-battle y{

}

.preparar-batalha .content .empty {
    font-size: 26pt;
    color: rgb(212, 212, 212);
    margin-top: 37%;
}




.preparar-batalha .menu .disabled {
    color: gray; 
}

.preparar-batalha .menu .disabled:hover {
    color: gray; 
    background: rgba(9,9,121,1);
    cursor: default;
}

