* {
    font-family: open sans;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 0px;
}

.select-enemy {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}


.select-enemy .student-data {
    width: 100%;
    height: 100px;
    padding: 9px 0 0 240px;
    display: flex;
    position: absolute;
    white-space: nowrap;
    border-bottom: solid 1px rgb(212, 212, 212);
}

.select-enemy .student-data .student-name {
    margin-top: 15px;
    color: black;
    font-size: 23pt;
}

.select-enemy .student-data .trace {
    margin-top: 15px;
    color: black;
    font-size: 23pt;
    margin-left: 20px;
}

.select-enemy .student-data .student-points {
    margin-top: 15px;
    color: black;
    font-size: 23pt;
    margin-left: 20px;
}

.select-enemy .div-img-user {
    float: right;
    margin-right: 30px;
}

.select-enemy .div-img-user .img-user {
    width: 98px;
}


/*MENU*/
.select-enemy .menu {
    width: 200px;
    height: 100%;
    position: fixed;
    background:rgba(9,9,121,1);
    z-index: 1;
    margin-top: 0px;
    margin-left: 0px;
}

.select-enemy .menu .menu-item {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid;
    border-color: white;
    cursor: pointer;
}

.select-enemy .menu .menu-item:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.select-enemy .menu .sitename {
    padding: 30px 16px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20pt;
}

.select-enemy .menu .sitename:hover {
    background: rgba(9,9,121,1);
    color: white;
}

.select-enemy .menu .selected {
    background-color: white;
    color: black;
    cursor: pointer;
}

.select-enemy .menu .menu-bottom {
    width: 200px;
    position: absolute;
    bottom: 0;
}


/*RANKINGS*/
.select-enemy .ranking {
    width: 270px;
    height: 390px;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
    float: right;
    transform: translate(90px, 130px);
}

.select-enemy .ranking .str-ranking {
    margin: 10px 15px 0 15px;
    text-align: center;
}

.select-enemy .ranking ul {
    margin: 10px 15px 0 15px;
}

.select-enemy .ranking ul li {
    height: 50px;
    margin-bottom: 20px; 
    display: inline-block;
    border-bottom: solid 1px rgb(190, 190, 190);
}

.select-enemy .ranking ul li .team-ranking {
    width: 235px;
    display: flex;
}

.select-enemy .ranking ul li .team-ranking .team-profile img {
    height: 40px;
}

.select-enemy .ranking ul li .team-ranking .team-name {
    width: 163px;
    height: 30px;
    text-align: left;
    transform: translate(8px, 8px);

    white-space: nowrap;
    overflow: hidden;
    transition-duration: 1s;
}

.select-enemy .ranking ul li .team-ranking .team-points {
    width: 30px; 
    position: absolute;
    transform: translate(205px, 8px);
}


/*PROFILES CARDS*/
.select-enemy .cards-students {
    width: 55%;
    margin-top: 125px;
    margin-left: 22%;
}

.select-enemy .cards-students ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 30px;
}

.select-enemy .cards-students .card-individual {
    min-width: 120px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.select-enemy .cards-students .card-individual .profile-data {
    margin-top: 0px;
    display: flex;
}

.select-enemy .cards-students .card-individual .profile-data .img-individual {
    height: 8%;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
    /*border: solid 1px*/
}

.select-enemy .cards-students .card-individual .profile-data .username-profile {
    margin-top: 25px;
    margin-left: 100px;
    /*border: solid 1px;*/
    position: absolute;
    
}

.select-enemy .cards-students .card-individual .points {
    transform: translate(0px, 55px);
    /*border: solid 1px green;*/
    font-size: 50px;
}


