* {
    font-family: open sans;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%
}
/*
body {

    background: rgb(253,40,29);
    background: linear-gradient(221deg, rgba(253,40,29,1) 0%, rgba(206,51,126,1) 50%, rgba(156,63,232,1) 100%);
    background-size: 2000px 2000px;

}
*/

.main-login {
    /*
    max-height: 500px;
    max-width: 90%;
    */
}

.form-login {
    width: 450px;
    height: 500px;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background: rgb(253,40,29);
    background: linear-gradient(221deg, rgba(253,40,29,1) 0%, rgba(206,51,126,1) 50%, rgba(156,63,232,1) 100%);
    background-size: 2000px 2000px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

}

.form-login #main-image {
    width: 100px;
    margin-top: 20px;
}

.form-login #hr-top-left {
    width: 128px;
    left: 50px;
    top: -51px;
    position: relative;
    background-color: white;
    height: 3px;
    border: 0 none;
    border-radius: 5px;
}

.form-login #hr-top-right {
    width: 128px;
    right: -270px;
    top: -70px;
    position: relative;
    background-color: white;
    height: 3px;
    border: 0 none;
    border-radius: 5px;

}

.form-login .inputs {
    margin-top: -25px;
}

/*FORM OF USER*/
.form-login div .username {
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: 53px;
}

.form-login div .username .div-user-icon {
    width: 45px;
    border: 1.5px solid;
    border-color: white;
    border-radius: 6px 0px 0px 6px;
}
    
.form-login div .username .div-user-icon #user-icon {
    margin-top: 10px;
    width: 30px;
    height: 29px;
}

.form-login div .username #email-input {
    height: 50px;
    width: 300px;
    border-radius: 0px 6px 6px 0px;
    border: 0 none;
    outline: 0;
}

.form-login #emailHelp {
    color: white;
}

/*FORM OF PASSWORD*/
.form-login .password {
    border: 1px;
    border-color: white;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    margin-left: 53px;
}

.form-login div .password .div-padlock-icon {
    width: 45px;
    border: 1.5px solid;
    border-color: white;
    border-radius: 6px 0px 0px 6px;
}

.form-login form .inputs .password .div-padlock-icon #padlock-icon {
    margin-top: 10px;
    width: 30px;
    height: 29px;
}

.form-login form .inputs .password #password-input {
    height: 50px;
    width: 300px;
    border-radius: 0px 6px 6px 0px;
    border: 0 none;
    outline: 0;
}


/*FORM OF CHECKBOX*/
.form-login  .div-check {
    margin-top: 20px;
    margin-left: -107px;
}

.form-login  .div-check #check-input {
    display: none;
}

.form-login  .div-check #check-input + .check-label:before {
    margin-left: -105px;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: none;
    border-radius: 3px;
    border: 1px solid white

}

.form-login .div-check #check-input:checked + .check-label:before {
    background-color: white;
}

.form-login .div-check .check-label {
    top: 100px;
    color: white;
}


/*BUTTON*/
.form-login .enter-button {
    height: 60px;
    width: 345px;
    margin-top: 15px;
    background-color: #FE5387;
    border-color: #FE5387;
    border-radius: 5px;
    color: white;
    border: 0 none;
    font-size: 15px;
}

/*LINKS*/
.form-login .links {
    width: 400px;
    margin-top: 35px;
    margin-left: 30px;
    display: flex;
}

#link-forgot-password {
    margin-right: 0px;
    font-size: 15px;
    text-decoration:none;
    color: white;
}

#link-register {
    margin-left: -31px;
    font-size: 15px;
    text-decoration:none;
    color: white;
}

#link-register:hover {
    cursor: pointer;
}

#divider-bottom {
    width: 40px;
    height: 2px;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    border: 0 none;
    transform: rotate(90deg) translate(0px, 16px);
}