.App {
    width: 90%;
    max-width: 100%;
    height: 100%;
    text-align: center;
}

/*
nav a {
    float: right;
}
*/

footer {
    height: 35px;
    width: 100%;
    color: white;
    margin-left: -8px;
    font-size: 12px;
    
    align-items: center;
    position: absolute;
    bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer #github-image {
    width: 15px;
    margin-left: 5px;
    margin-top: 2px;
}